<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Listado de reclamos</h1>


      <table class="table table-sm">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Texto</th>
            <th>Locacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reclamoLista">
            <td>{{item.titulo}}</td>
            <td>{{item.texto}}</td>
            <td>{{item.locacion}}</td>
            <td>
              <a class="btn" (click)="editar(item)"> <i class="fa fa-pencil-square-o"></i> Editar </a>
              <a class="btn" (click)="eliminar(item)"> <i class="fa fa-trash"></i> Eliminar </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <h1>Formulario</h1>
      <form #reclamoForm="ngForm" (ngSubmit)="onSubmit(reclamoForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="reclamosService.selectedReclamo.$key">
        <div class="form-group">
          <label>Titulo</label>
          <input class="form-control" name="titulo" type="text" #titulo="ngModel"
          [(ngModel)]="reclamosService.selectedReclamo.titulo" placeholder="Titulo" required>
        </div>
        <div class="form-group">
            <label>Texto</label>
            <input class="form-control" name="texto" type="text" #texto="ngModel"
            [(ngModel)]="reclamosService.selectedReclamo.texto" placeholder="Texto" required>
        </div>
        <div class="form-group">
            <label>Locación</label>
            <input class="form-control" name="locacion" type="text" #locacion="ngModel"
            [(ngModel)]="reclamosService.selectedReclamo.locacion" placeholder="Locacion" required>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="submit" [disabled]="!reclamoForm.valid">
            <i class="fa fa-floppy-o"></i>Grabar
          </button>
          <button class="btn btn-default" type="button" (click)="resetForm(reclamoForm)">
            <i class="fa fa-repeat"></i>Limpiar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
