<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <h1>Error de acceso</h1>
      <h4>404 página no encontrada</h4>
      <div class="card-body">
        <a href="#" class="btn btn-primary btn-lg">Home</a>
      </div>
    </div>
  </div>
</div>
