<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1>Formulario de registro</h1>
          <form (submit)="onSubmitLogin()">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="Ingrese email">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" [(ngModel)]="clave" id="clave" name="clave" placeholder="Ingrese clave">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
