<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h1>Login</h1>
        <form (submit)="onSubmitLogin()">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="Ingrese email">
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="clave" id="clave" name="clave" placeholder="Ingrese clave">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <button type="button" (click)="loginGoogle()" class="btn btn-primary btn-block">Entrar con Google</button>
            <button type="button" (click)="loginFacebook()" class="btn btn-primary btn-block">Entrar con Facebook</button>
        </div>
      </div>
  </div>
</div>
